html {
  font-size: 62.5%;
}

* {
  margin: 0;
}

body {
  background-color: #151617;
  color: #f6f7ee;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

/* == TYPOGRAPHY */

h1,
h2,
h3 {
  color: #fff;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 4.5rem;
}

p {
  font-weight: 300;
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
}

b {
  font-weight: 700;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.button {
  background-color: #a62929;
  color: #f6f7ee;
  font-style: italic;
  text-align: center;
  display: block;
  max-width: fit-content;
  padding: 10px 20px 12px;
  border-radius: 5px;
  margin: auto;
}

.button:hover {
  background-color: #f6f7ee;
  color: #151617;
}

address a {
  color: #9B2727;
  font-style: normal;
  line-height: 3.9rem;
  display: block;
}

address a:hover {
  color: #151617;
}

/* == HEADER */

header {
  padding: 15px 6% 12px 4%;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 150px;
}

header ul {
  display: none;
}

header li {
  padding: 10px 0;
}

header a {
  color: inherit;
  font-style: italic;
  font-weight: 300;
}

header li:hover {
  color: #e15d5d;
}

.current-page {
  background-color: #f6f7ee;
  color: #151617;
  padding: 4px 8px;
  border-radius: 2px;
}

.current-page:hover {
  color: initial;
}

.show-items {
  display: initial;
  text-align: right;
  padding: 0;
}

/* == HERO */

.hero {
  padding: 30px 0;
}

.hero h1,
.hero h2 {
  text-align: center;
}

.hero h2 {
  font-weight: 400;
}

.hero p {
  max-width: 80%;
  margin: 20px auto;
  line-height: 2.5rem;
}

/* == SERVICES */

.services {
  padding: 15px 5% 30px;
}

.services h2 {
  font-size: 3.3rem;
}

.services p {
  margin-top: 7px;
}

.services .wrapper-content {
  margin: 30px 0;
}

.services .wrapper-item {
  padding-left: 12px;
  border-left: 50px solid #a62929;
  border-radius: 10px;
  margin: 12px 0;
}

/* == TESTIMONIALS */

/* == CALL TO ACTION */

/* -- book appointment */
.book-appointment {
  background: linear-gradient(to right bottom, rgb(89, 83, 83), rgb(44, 39, 39));
  padding: 20px 18px;
  border-radius: 5px;
  margin: 30px 5%;
}

.book-appointment h2 {
  font-size: 2.5rem;
}

.book-appointment p {
  color: #fff;
  font-size: 1.8rem;
  line-height: 3.4rem;
  margin: 10px 0 20px;
}

.book-appointment address {
  background-color: #f6f7ee;
  padding: 10px 7%;
  border-radius: 5px;
}

.book-appointment a {
  font-size: 1.8rem;
}

/* -- newsletter */
.newsletter {
  padding: 0 5% 50px;
}

/* == FOOTER */

footer .wrapper-content {
  background-color: #f6f7ee;
  color: #151617;
  padding: 20px 5%;
  border-top: 4px solid #a62929;
}

footer .wrapper-logos {
  display: flex;
  justify-content: space-between;
}

.wrapper-logos img {
  align-self: end;
}

footer .wrapper-contact {
  text-align: center;
  padding: 10px 0;
}

footer h2 {
  color: #151617;
  font-weight: 600;
  margin: 18px 0 9px;
}

.facebook {
  background-color: #151617;
  color: #f6f7ee;
  font-size: 1.4rem;
  display: flex;
  align-items: end;
  width: fit-content;
  padding: 7px 10px 12px;
  border-radius: 5px;
  margin: 15px auto;
}

.facebook img {
  width: 40px;
  margin-right: 10px;
}

.facebook span {
  display: block;
  font-size: 2rem;
  font-weight: 400;
}

footer ul {
  display: flex;
  justify-content: space-around;
  margin: 40px 0 10px;
}

footer li a {
  color: #9B2727;
  font-size: 1.8rem;
}

footer li a:hover {
  color: #151617;
}

footer .disclaimer {
  font-style: italic;
  padding: 20px 5%;
}
