/* == GENERAL */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
}

body {
  background-color: #151617;
  color: #f6f7ee;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

.wrapper-width {
  margin: 0 5%;
}

/* -- TYPOGRAPHY */

h1,
h2,
h3 {
  color: #fff;
  font-family: "Playfair Display", serif;
}

h1,
h2 {
  text-align: center;
}
 
h1 {
  font-size: 4.5rem;
}

p {
  font-weight: 300;
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
}

b {
  font-weight: 700;
}

ul {
  list-style-type: none;
  padding-left: 0;
  font-style: italic;
}

a {
  text-decoration: none;
}

.button {
  background-color: #a62929;
  color: #f6f7ee;
  font-style: italic;
  text-align: center;
  display: block;
  max-width: fit-content;
  padding: 12px 25px 14px;
  border-radius: 5px;
  margin: auto;
}

.button:hover {
  background-color: #f6f7ee;
  color: #151617;
}

address a {
  color: #9b2727;
  font-style: normal;
  line-height: 3.9rem;
  display: block;
}

address a:hover {
  color: #151617;
}

/* == SITEWIDE */

/* -- HEADER */

header {
  padding: 15px 1% 12px 0;
}

header .wrapper-nav {
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 150px;
}

header ul {
  display: none;
}

header li {
  padding: 10px 0;
}

header a {
  color: inherit;
  font-weight: 300;
}

header li:hover {
  color: #e15d5d;
}

.show-items {
  display: initial;
  text-align: right;
  padding: 0;
}

/* -- FOOTER */

.footer {
  background-color: #f6f7ee;
  color: #151617;
  border-top: 4px solid #a62929;
  border-bottom: 4px solid #a62929;
}

footer .wrapper-content {
  padding: 20px 0;
}

footer .wrapper-logos {
  display: flex;
  justify-content: space-between;
}

.wrapper-logos img {
  align-self: end;
}

footer .wrapper-contact {
  text-align: center;
  padding: 10px 0;
}

footer h2 {
  color: #151617;
  font-weight: 600;
  margin: 18px 0 9px;
}

.facebook {
  background-color: #151617;
  color: #f6f7ee;
  font-size: 1.4rem;
  text-align: initial;
  display: flex;
  align-items: end;
  width: fit-content;
  padding: 7px 10px 12px;
  border-radius: 5px;
  margin: 20px auto;
}

.facebook img {
  margin-right: 10px;
}

.facebook span {
  display: block;
  font-size: 2rem;
  font-weight: 400;
}

footer ul {
  text-align: center;
  justify-content: space-around;
}

footer li {
  margin-bottom: 20px;
}

footer li a {
  color: #9b2727;
  font-size: 1.8rem;
}

footer li a:hover {
  color: #151617;
}

footer .call {
  display: none;
}

footer .disclaimer {
  font-style: italic;
  padding: 20px 0;
}

/* == HOMEPAGE */

/* -- HERO */

.hero {
  padding: 30px 0;
}

.hero h2 {
  font-weight: 400;
}

.hero p {
  max-width: 80%;
  margin: 20px auto;
  line-height: 2.5rem;
}

/* -- SERVICES */

.services {
  padding: 50px 0 30px;
}

.services h2 {
  font-size: 3.5rem;
}

.services h3 {
  font-size: 2.2rem;
  text-align: initial;
  padding: 10px 0 10px;
}

.services p {
  margin-top: 7px;
}

.services .wrapper-content {
  margin: 30px 0 60px;
}

.services .wrapper-item {
  margin: 20px 0 40px;
  clear: both;
}

.services i {
  color: #a62929;
  font-size: 5rem;
  float: left;
  padding-bottom: 140px;
  margin-right: 15px;
}

.services .item-1 {
  padding-bottom: 110px;
}

/* -- TESTIMONIALS */

.testimonials {
  padding: 30px 0 10px;
}

.testimonials h2 {
  font-size: 3.5rem;
}

.testimonials p {
  background-color: #f6f7ee;
  color: #151617;
  font-weight: 400;
  padding: 20px;
  border-radius: 5px;
  margin: 25px 0 10px;
}

.testimonials i {
  color: #9b2727;
}

.testimonials cite {
  font-weight: 600;
  font-style: normal;
  padding-left: 20px;
}

.testimonials hr {
  color: #a62929;
  max-width: 50%;
  margin: 20px;
}

.testimonials .desktop {
  display: none;
}

/* -- BOOK APPOINTMENT */

.book-appointment {
  background: linear-gradient(
    to right bottom,
    rgb(89, 83, 83),
    rgb(44, 39, 39)
  );
  padding: 20px 18px;
  border-radius: 5px;
  margin: 30px 0;
}

.book-appointment h2 {
  font-size: 2.5rem;
  text-align: initial;
}

.book-appointment p {
  color: #fff;
  font-size: 1.8rem;
  line-height: 3.4rem;
  margin: 10px 0 20px;
}

.book-appointment address {
  background-color: #f6f7ee;
  padding: 10px 20px;
  border-radius: 5px;
}

.book-appointment a {
  font-size: 1.8rem;
}

/* -- NEWSLETTER */

.newsletter {
  padding: 20px 18px 15px;
  border: solid 2px #a62929;
  border-radius: 5px;
  margin: 60px 0;
}

.newsletter h2 {
  font-size: 2.5rem;
  text-align: initial;
  margin-bottom: 20px;
}

.newsletter input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border: 0;
  margin: 5px 0;
}

.newsletter .form-input {
  padding: 5px 0;
}

.newsletter input[type="submit"] {
  background-color: #9b2727;
  color: #f6f7ee;
  font-size: 1.6rem;
  padding: 10px 30px;
  border: 0;
  border-radius: 5px;
  max-width: fit-content;
  margin: 25px auto 0;
}

/* == RESOURCES */

.resources h1 {
  padding: 40px 0 60px;
}

/* -- TAX CHECKLIST */

.checklist {
  padding-bottom: 60px;
}

.checklist caption {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  padding-bottom: 20px;
}

table {
  margin-bottom: 25px;
  border-collapse: collapse;
  border-radius: 5px;
}

.checklist i {
  font-size: 2rem;
  color: #9b2727;
  margin-right: 5px;
}

th {
  background-color: #9b2727;
  color: #f6f7ee;
  text-align: initial;
  font-weight: 600;
}

td,
th {
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: #f6f7ee;
  color: #151617;
}

tr:nth-child(even) {
  background-color: #dbdbdb;
  color: #151617;
}

/* -- ADDITIONAL RESOURCES */

.additional-resources {
  padding-bottom: 80px;
}

.additional-resources h2 {
  font-size: 3rem;
  padding: 10px 0 30px;
}

.additional-resources span {
  display: block;
}

.additional-resources li {
  padding-bottom: 20px;
}

.additional-resources ul {
  background-color: #9b2727;
  padding: 20px;
  border-radius: 5px;
}

.additional-resources a {
  color: #f6f7ee;
  text-decoration: underline;
}

.additional-resources a:hover {
  color: #151617;
}

.additional-resources i {
  padding-right: 10px;
}

/* Large devices (desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .wrapper-width {
    width: 1170px;
    margin: auto;
  }

  /* == SITEWIDE */

  /* -- HEADER */

  header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 15px 0 12px 0;
  }

  .logo img {
    width: 180px;
  }

  header ul {
    display: flex;
    gap: 50px;
  }

  .toggle {
    display: none;
  }

  header a {
    padding: 4px 8px;
  }

  .current-page {
    background-color: #f6f7ee;
    color: #151617;
    padding: 4px 8px;
    border-radius: 2px;
  }
  
  .current-page:hover {
    color: initial;
  }

  /* -- FOOTER */

  footer .wrapper-content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 30px 0 20px;
  }

  footer .wrapper-logos {
    flex-direction: column;
    align-items: start;
    gap: 50px;
    padding-top: 10px;
  }

  footer .wrapper-logos img {
    align-self: center;
    width: 160px;
  }

  footer h2 {
    text-align: initial;
    margin-top: 0px;
  }

  footer .call {
    background-image: url(images/Untitled-1.png);
    background-size: contain;
    max-width: 20%;
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 600;
    background-color: #151617;
    color: #f6f7ee;
    border-radius: 5px;
    padding: 10px 0 10px 20px;
    display: initial;
    margin-left: 50px;
  }

  footer .wrapper-contact {
    text-align: initial;
    padding: 0 20px 0 50px;
  }

  footer .facebook {
    margin-left: 0;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: initial;
  }

  footer nav {
    padding: 0 30px 0 10px;
    margin-top: 5px;
    border-left: solid 2px #585252;
  }

  footer li {
    margin-bottom: 0px;
  }

  /* == HOMEPAGE */

  /* -- HERO */

  .hero {
    padding: 60px 0;
  }

  .hero h1 {
    font-size: 7rem;
  }

  .hero p {
    max-width: 50%;
    margin: 40px auto;
  }

  /* -- SERVICES */

  .services {
    max-width: 90%;
    padding: 50px 0 60px;
    margin: auto;
  }

  .services h2 {
    font-size: 4rem;
  }

  .services h3 {
    padding: 10px 0;
  }

  .services .wrapper-content {
    display: flex;
    gap: 8%;
    margin: 30px 0;
  }

  .services .wrapper-item {
    flex-basis: 33%;
    flex-grow: 1;
  }

  .services i {
    font-size: 5rem;
  }

  /* -- TESTIMONIALS */

  .testimonials {
    background-color: rgb(89, 83, 83);
    background: linear-gradient(
      to right bottom,
      rgb(89, 83, 83),
      rgb(44, 39, 39)
    );
    padding: 40px 0 80px;
  }

  .testimonials .wrapper-width {
    max-width: 60%;
  }

  .testimonials h2 {
    font-size: 4rem;
    padding: 20px 0 40px;
  }

  .testimonials .desktop {
    display: initial;
  }

  .testimonials .fa-quote-right {
    display: none;
  }

  .testimonials .fa-quote-left {
    float: left;
    font-size: 5rem;
    margin-bottom: 150px;
    margin-right: 20px;
  }

  .testimonials p {
    background-color: initial;
    padding: 0;
  }

  .testimonials blockquote {
    background-color: #f6f7ee;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .grid-span-2 {
    grid-column: span 2;
  }

  .grid-span-2 .fa-quote-left {
    margin-bottom: 90px;
  }

  .testimonials cite {
    color: #151617;
    align-self: flex-end;
    padding-right: 40px;
  }

  .testimonials hr {
    display: none;
  }

  .testimonials .wrapper-content {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px;
    /* max-width: 50%; */
  }

  .testimonials p {
    margin: 0;
  }

  /* -- BOOK APPOINTMENT */

  .newsletter,
  .book-appointment {
    max-width: 600px;
  }

  .book-appointment {
    margin: 80px 0 100px 100px;
  }

  .newsletter {
    margin: 0 0 75px 450px;
  }

  .book-appointment p {
    padding-bottom: 50px;
    padding-top: 30px;
    max-width: 70%;
  }

  /* == RESOURCES */

  .checklist {
    font-size: 1.8rem;
  }

  .additional-resources {
    padding: 40px 0 80px;
  }

  .additional-resources li {
    font-size: 1.8rem;
  }

  .additional-resources div {
    display: flex;
    justify-content: space-evenly;
  }

  .additional-resources h2 {
    font-size: 3.5rem;
    text-align: initial;
    padding: 0;
  }

}

@media only screen and (min-width: 1800px) {
  .testimonials .wrapper-width {
    max-width: 50%;
  }
}